/backend/.mypy_cache/
/backend/.ropeproject/
/backend/backend/settings/environment.py
/backend/media/
/backend/static/
/backend/Pipfile
/backend/Pipfile.lock
/frontend/dist/
/frontend/node_modules/
/frontend/src/environment.js
/frontend/src/local_environment.js
/frontend/src/prod_environment.js
/psswrd
