[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django = "*"
graphene-django = "*"
django-cors-headers = "*"
django-modeltranslation = "*"
ffmpeg-python = "*"

[dev-packages]

[requires]
python_version = "3.7"
