{% autoescape off %}
Здравствуйте, {{ first_name }}!

Спасибо за интерес к курсу и регистрацию. Пожалуйста, подтвердите свой эл. адрес, перейдя по ссылке:
{{ url }}{{ uidb64 }}/{{ token }}

Вы можете войти в свой личный кабинет по адресу {{ login_url }}, введя свой логин и пароль.

Информация о курсах находится на странице:
{{ courses_url }}

Если у Вас будут возникать какие-либо вопросы, пожалуйста, пишите или звоните. С радостью отвечу.

С уважением,
Академия Аналитики

+380500189388
+380687039775
analytics.academy.2021@gmail.com
{% endautoescape %}
